.page-controls {
  position: absolute;
  bottom: 5%;
  left: 50%;
  background: white;
  transition: opacity ease-in-out 0.2s;
  border-radius: 4px;
}

.react-pdf__Document {
  border-radius: 8px;
  max-width: 100%;
  position: relative;
  background-color: white;
  box-shadow: 0 30px 40px 0 rgb(16 36 94 / 20%);
}
